.Button {
  width: fit-content;
  padding: var(--ce-space-1);
  background: transparent;
  color: var(--ce-color-blue-400);
  border-radius: var(--ce-border-radius-md);
  transition: background 0.3s;

  &:hover {
    background: rgba(66, 153, 225, 0.1);
  }

  &--dark {
    color: var(--ce-color-blue-200);

    &:hover {
      background: rgba(144, 205, 244, 0.1);
    }
  }

  & > svg {
    width: 24px;
    height: 24px;
  }
}
