@use "@styles/variables" as vars;

.NavLinks {
  display: none;
  align-items: center;
  justify-content: center;
  list-style: none;

  @media only screen and (min-width: 48em) {
    display: flex;
  }

  li {
    margin-right: vars.$ce-space-2;
    margin-left: vars.$ce-space-2;
  }
}

.FloatingMenu {
  display: block;

  @media only screen and (min-width: 48em) {
    display: none;
  }
}
