.FloatingMenu {
  position: relative;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    background: var(--ce-body-bg);
    bottom: 36px;
    right: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
    transition: transform 0.3s;
    min-width: 200px;
    border: 1px solid var(--ce-color-black-alpha-400);
    border-radius: var(--ce-border-radius-md);
    padding: var(--ce-space-2);

    & > * {
      width: 100%;
      padding: var(--ce-space-2);

      &:hover,
      &:focus {
        background: var(--ce-color-black-alpha-200);
      }
    }

    &--visible {
      transform: scale(1, 1);
    }

    &--dark {
      border: 1px solid var(--ce-color-white-alpha-400);

      & > * {
        &:hover,
        &:focus {
          background: var(--ce-color-white-alpha-200);
        }
      }
    }
  }
}
