.FloatingMenu {
  position: relative;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    background: var(--chakra-colors-chakra-body-bg);
    bottom: 36px;
    right: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
    transition: transform 0.3s;
    min-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--chakra-radii-md);
    padding: var(--chakra-space-2);

    & > * {
      width: 100%;
      padding: var(--chakra-space-2);

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &--visible {
      transform: scale(1, 1);
    }

    &--dark {
      border: 1px solid rgba(255, 255, 255, 0.1);

      & > * {
        &:hover,
        &:focus {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
