@use "@styles/variables" as vars;

.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__hero {
    background: vars.$ce-color-gray-100;
    width: 100%;
    color: vars.$ce-color-white;
    overflow: hidden;
    justify-content: space-between;
    padding: vars.$ce-space-12;

    @media only screen and (min-width: 48em) {
      height: 75%;
      flex-direction: row;
    }

    &--dark {
      background: vars.$ce-color-black;
    }

    &-title {
      display: flex;
      flex-direction: column;
      z-index: 1;

      & > * {
        margin-bottom: vars.$ce-space-2;
      }

      h1,
      h2 {
        font-size: vars.$ce-font-size-4xl;
        background-image: linear-gradient(
          to right,
          vars.$ce-color-teal-400,
          vars.$ce-color-yellow-300
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @media only screen and (min-width: 62em) {
          font-size: vars.$ce-font-size-7xl;
        }

        h1 {
          padding-bottom: vars.$ce-space-1;
        }

        &--dark h2 {
          background-image: linear-gradient(
            to left,
            vars.$ce-color-yellow-300,
            vars.$ce-color-teal-400
          );
        }
      }
    }
  }
}
