@use "@styles/variables" as vars;

.Link {
  position: relative;
  font-family: monospace;
  font-size: vars.$ce-font-size-xs;
  font-weight: bold;
  transition: text-shadow 0.2s linear, color 0.2s linear;

  &:hover {
    text-decoration: none;

    &::before {
      transform: scaleX(1);
      height: 2px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    bottom: -4px;
    left: 0;
    background: vars.$ce-color-gray-800;
    transform: scaleX(0);
    transition: transform 0.3s ease, height 0.1s;
  }

  &--dark {
    &::before {
      background: vars.$ce-color-gray-50;
    }
  }

  &[aria-current="true"] {
    color: vars.$ce-color-blue-600;
    text-shadow: 0 0 12px vars.$ce-color-blue-100,
      0 0 12px vars.$ce-color-blue-100, 0px 0 12px vars.$ce-color-teal-300,
      0px 0 12px vars.$ce-color-teal-300;

    // &::before {
    //   background: vars.$ce-color-blue-600;
    // }

    &.Link--dark {
      color: white !important;
      text-shadow: 0 0 12px vars.$ce-color-teal-100,
        0 0 12px vars.$ce-color-teal-100, 0px 0 12px vars.$ce-color-blue-300,
        0px 0 12px vars.$ce-color-blue-300;
    }
  }
}
