.SkipLink {
  padding: var(--ce-space-1) var(--ce-space-2);
  width: fit-content;
  background: var(--ce-color-teal-500);
  font-size: var(--ce-font-size-sm);
  font-weight: var(--ce-font-weight-bold);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: var(--ce-border-radius-sm);
  transform: translateY(-250%);
  transition: transform 0.3s;
  z-index: var(--ce-z-index-skip-link);
  color: white;

  &:focus {
    transform: translateY(10%);
  }
}
