.FooterLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--ce-space-4);

  & > * {
    margin-right: var(--ce-space-4);
  }

  &__icon {
    width: 24px;
    height: 24px;
    transition: color 0.2s;
    color: var(--ce-body-text);

    &:hover {
      color: var(--ce-color-blue-400);
    }
  }
}
