.stars {
    animation: rotation 10s infinite linear;
}

.cloud {
    animation: float 3s infinite linear;
    animation-direction: alternate;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(8px);
    }
}