.NavLogo {
  &__outterCircle {
    animation: dash-forward 1s linear forwards;
  }

  &__innerCircle {
    animation: dash-backward 1.2s linear forwards;
  }

  &__text {
    opacity: 1;
    font-size: 1.25rem;
    font-family: Oswald, serif;
    text-transform: uppercase;
  }
}

@keyframes dash-forward {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-backward {
  to {
    stroke-dashoffset: 280;
  }
}
