.NavBar {
  width: 100%;
  height: 4rem;
  padding-left: var(--ce-space-8);
  padding-right: var(--ce-space-8);
  background: var(--ce-body-bg);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      margin-right: var(--ce-space-2);
    }

    &--wide {
      & > * {
        margin-right: var(--ce-space-4);
      }
    }
  }
}
